 /*********************************************
 * Venda Front Page
 *********************************************/


body {
  font-family: "Roboto", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;

}

.reveal .main-header, .reveal .main-header h1, .reveal .main-header  h2, .reveal .main-header h3 {
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
}

.reveal .main-header {
  width: 74%;
  margin-left: 13%;
}
